         .jumbotron {
              background-image: url(/images/background.jpg);
              background-size: cover;
              height: 100%;
              padding-top: 20px;
              margin: 0px;
          }

          #formControl {
              
              width: 600px;
            
          }  

          .lead {
              text-shadow: 2px 2px 2px white;
          }

          .display-2,.display-3 {

              text-shadow: 4px 4px 2px white;
              margin: 0px;
          }

          .display-5 {

            text-shadow: 1px 1px 2px white;
            padding-top: 10px;
            padding-bottom: 10px;
            font-style: italic;
            text-align: center;
          }

          .covid {
            width: 120px;
            height: 70px;
          }

          .alert-danger, .alert-warning {

            font-size: 35px;
            text-align: center;
          }

          #blind {

            display: none;
          }

          .main {

              margin: 0;
          }
                    
          footer {
              font-family: "Lucida Console", Courier, monospace;
              font-style: italic;
              padding-top: 50px;
              text-align: center;
              padding-bottom: 50px;
          }
          
          body {
              
              position: relative;
              
          }

          @media screen and (max-width: 900px) {
          .display-3 {
                 font-size: 40px;
                 text-shadow: 1px 1px 1px white;
               }
          .jumbotron {

            padding-top: 5px;
                }
          .display-2 {
                font-size: 60px;
                }

          .display-5 {
              font-size: 30px;
               }

          footer>h5, .alert {
            font-size: 17px;
                }
          }

